/* start OF RULES */

body {
    height:4000px;

}
.container {
    width:1170px;
     margin:auto;
     
}
.clearfix {clear:both}
/* end of rules */
 /* start header */
.header .slider{
      background-image: url('livepanel-header-scaled.jpg');
    -webkit-background-size: cover;
     -moz-background-size: cover;
   -o-background-size: cover;
     background-size: cover;
     height:600px; 
}

.header .slider .intro  {

    height:600px;
    text-align: center;
    color: #FFF;
    padding-top: 200px;
}
.header .slider .intro h2{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0
    
}
.header .slider .intro button {
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border : 5px solid #FFF;
    font-weight: bold;
    padding: 10px 30px;
    color:#FFF;
    text-decoration: none;
    
}

.header .navbar{
    background-color:#252f31;
    color:#fff;
   overflow: hidden;
  
}
    .header .navbar h2 {float:left;
}
.header .navbar h2 span{color:#2ecc71}

.header .navbar ul {
    list-style :none;
    padding-left:0;
    overflow: hidden;
    float:right
}
.header .navbar ul li {
    float:left;
    padding:10px;
    
}
.header .navbar ul li a {
    color:#FFF;
    text-decoration-color: none;
    text-decoration: none;
    
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover {
    color:#30B576;
}
/* end header */

/* start features */
.features {
    overflow:hidden;
    padding-top: :40px;
    padding-bottom: 50px;
}
.features .feat{
    float:left;
    width:33.33333%;
    height:155px;
   
}

.features .feat p{
    line-height: 1.7;
    color: #888;
  
}

/* end features*/

/*start about me */
.about-me {
    background-color: #F2F2F2;
    overflow: hidden;
}

.about-me .image {
    float:left;
    width:40%;
}
.about-me .image img{width:95%}

.about-me .info {
    float : left;
    width:60%;
}

.about-me .info h2{
 margin: 10px; 0 20px 40px; 
    color: #555;
 
}

.about-me .info > p {
  
    margin: 0 0 10px 40px;
}
.about-me .info  p {

    line-height: 1.6;
    color: #666;
}

.about-me .info .hobby{
    overflow: hidden;
    margin: 15px 0 0 40px;
}

.about-me .info .hobby h3{
    color: #555;
}

.about-me .info .hobby .content {
   float:left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}


.about-me .info .hobby .content h3{
    color: #555;
}

.about-me .info .hobby .content .icon {
    float:left;
    width: 12%;
    margin-right: 5%
}

.about-me .info .hobby .content .icon img {
    margin: 40px 10px 0 0;
    max-width: 100%

}

.about-me .info .hobby .content .text {
    float: left;
    width: 83%;
}

.about-me .info .hobby .content .text p {
    margin-top: 0;
}

.about-me .info .hobby .content .text h3 {
    margin-bottom: 5px;
}



/* end about me */

/* start skills */
.my-skills {
    padding-top: :30px;
    padding-bottom: 50px;
    overflow:hidden
}
.my-skills .skills ,
.my-skills .progress {
    width : 50%;
    float:left;
        
}


.my-skills .skills h2{
    margin: 40px 0 20px 90px;
    color: #555;
}

.my-skills .skills  p  {
    margin:0 0 40px 10px;
   line-height: 1.7;
    color: #666;
    
    
}

.my-skills .skills p :last-of-type  {
   
margin-top :30px; 
    
}


.my-skills .skills button {
    margin-top: 20px;
    margin-left: 40px;
}

.my-skills .progress .tech {
    margin-left:50px;
}
    
.my-skills .progress .tech h3 {
    color: #555;
}

.my-skills .progress .tech div {
    background-color: #F2F2F2;
    height: 25px;
    
    
}

.my-skills .progress .tech div span {
    background-color: #2DCC70;
    width:80%;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color:#FFF;
    font-weight: bold;
}
/* end skills */


/* start resume */
.resume {
    background-color: #F2F2F2;
   padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.resume h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}

.resume p {
    line-height: 1.7;
    color: #666;
    padding: 0 40px;
}

.resume button {
    margin-top: 15px;
    
}


/* end resume */


/* start mu education */
.my-education {
    padding-top: :50px;
    padding-bottom: 70px;
    overflow:hidden
}

.my-education  hr {
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}

.my-education .main {
    width: 50%;
    margin-right: 5%;
    float: left;
}

.my-education .main h2{
    margin: 40px 0 20px 90px;
    color: #555;
}

.my-education .main p  {
    margin:0 0 40px 10px;
   line-height: 1.7;
    color: #666;
    
    
}

.my-education .main p :last-of-type  {
   
margin-top :30px; 
    
}


.my-education .exp {
    width : 45%;
    float:left;
        
}

.my-education .exp h3 {
    margin-top: 80px;
    margin-bottom: 10px
}

.my-education .exp span {
    display: block;
    margin-bottom: 10px;
}
.my-education .exp span:first-of-type {
    color: #999;;
} 

.my-education .exp span:last-of-type {
    
    background-color: #2DCC70;
    color: #FFF;
    display: inline-block;
    padding: 4px 10px ;
    
} 


.my-education .exp p{
    line-height: 1.7;
    color: #777;
}

/* end my education */

/* testonomial start */
.testonomials {
    background-color: #F2F2F2;
   padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.testonomials q{
    line-height: 1.8;
    color: #999;
    font:italic bold 18px/1.8 Arial, Tahoma
}
.testonomials h3 {
    color: #777;
    margin-bottom: 30px;
}

.testonomials ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
  
}

.testonomials ul li {
    width: 15px;
    height: 15px;
    border:2PX solid #2DCC70;
    display: inline-block;
    cursor: pointer;
}

.testonomials ul li.active,
.testonomials ul li:hover{
    background-color: #2DCC70;
}


/* testonomial end*/

/* start portfoilo */
.portfoilo {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;

}

.portfoilo h2 {
    color: #777;
    
}

.portfoilo p{
    line-height: 1.7;
    color: #999;
    margin-bottom: 30px;
    
}

.portfoilo .our-work {
    overflow:hidden;
    
}
.portfoilo .our-work >div {
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;
    
}
.portfoilo .our-work > div img {
    width:92%;
    margin: 10px;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 10px 10px 12px #CCC;
}
/* end portfoilo*/

/* start contact me */
.contact {
    background-color: #252F31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
    
}

.contact .info {
        width :45%;
    float: left;
    margin: 5%;
}

.contact h2 {
    color:#FFF;
    margin-left: 40px;
    
    
}
.contact p {
color: #6A6E71;
margin-left: 40px;
line-height: 1.7;
}

.contact p strong {
    color: #D1D6DA;
}


.contact .form {
    width :45%;
    float: left;
    
}

.contact .form label{
    display: block;
    color: #D1D6DA;
    margin-bottom: 10px 0;
}

.contact .form input[type="text"] {
background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact .form textarea {
background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}

.contact .form input[type="submit"]{
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px
    
}

/* end contact me */

/* start footer */
.footer 
{
    background-color: #191E22;
    color: #6A6E71;
    padding: 20px;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    
}

.footer ul li {
    display: inline;
    margin: 10px 0 0;
}
.footer ul li img {

width: 20px;
}
/* end footer*/

/* start my framework */

.my-button {
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
}

/* end my framework */

 /* start scroll */
#scroll-top {
    width: 50px;
    height: 40px;
    padding: 5px 8px;
    color: #DDD;
    background: #777;
}
/* end scroll*/

/* start section loading */

